* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: #126236;
    color: #ffffff;
}

img {
    width: 25px;
}

.header {
    background-color: #126236;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 22px 0px #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__logo {
    width: 43px;
}

.header__nav-link,
.header__login {
    display: none;
}

.header__container-login-mobile i {
    color: #ffffff;
    font-size: 30px;
}

.header__container-login {
    display: none;
}

.main__container-logo {
    display: none;
}

.main {
    margin-top: 80px;
    padding: 15px;
}

.main__container-titulo-parrafo {
    display: flex;
    flex-direction: column;
}

.main__titulo {
    font-size: 50px;
    line-height: 1.2;
}

.main__parrafo {
    font-weight: bolder;
    margin-top: 20px;
}

.main__titulo span {
    color: #126236;
}

.gallery {
    margin-top: 26px;
    box-shadow: 0px 0px 22px 0px #000;
    background-color: #126236;
    padding: 20px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery__img {
    width: 77%;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid black
}

.contact-us {
    box-shadow: 0px 0px 22px 0px #000;
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us__title {
    color: #126236;
    padding: 20px 0;
}

.contact-us__form {
    background-color: #126236;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.contact-us__input {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.contact-us__input input::placeholder,
.contact-us__input textarea::placeholder {
    color: #126236;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    padding: 4.5px;

}

.contact-us__input input,
.contact-us__input textarea {
    padding: 7.5px;
    margin: 5px;
    border-radius: 13px
}

.contact-us__input input:focus,
.contact-us__input textarea:focus {
    background: #000;
}

.contact-us__button,
.cards__card-button {
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color:#ffffff;
    width: 45%;
    padding: 10px;
    transition: all 0.5s;
}

.contact-us__button:hover,
.cards__card-button:hover {
    background-color: yellow;
    border: 1px solid #000000;
    color: #000;
    font-weight:bolder;
    cursor: pointer;
}

.cards__card {
    background-color: #126236;
    margin-top: 45px;
    color: #ffffff;
    border-radius: 10px;
    position: relative;
    width: 85%;
}

.cards {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__card-img {
    width: 100%;
}

.cards__card-titulo {
    color:#ffffff;
}

.cards__card-titulo span {
    color: yellow;
}

.cards__card-container-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.cards__card-container-button,
.cards__card-container-button-last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cards__card-button {
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color:#ffffff;
    width: 150px;
    padding: 5px;
    transition: all 0.5s;
    margin: 10px 0px;
}

.cards__card-button:hover {
    background-color: yellow;
    border: 1px solid #000000;
    color: #000;
    font-weight:bolder;
    cursor: pointer;
}

.cards__card-circle {
    background-color: yellow;
    color: #000;
    width: 65px;
    height: 65px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -25px;
}


.footer {
    background-color: #000000;
    padding: 25px 15px;
}

.footer__container-user {
    display: flex;
    flex-direction: column;

}

.footer__link-user {
    color: #126236;
    text-decoration: none;
    font-size: 20px;
}

.footer__container-social {
    color: #126236;
    font-size: 22px;
}


.footer__container-social {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.footer__link-contact {
    text-decoration: none;
    color: #09a550;
}

@media (min-width: 768px) {
    .header__container-login-mobile {
        display: none;
    }
    
    .header__container-login  {
        display: block;
        color: #ffffff;
        font-size: 34px;
    }

    .header__nav {
        display: flex;
        flex-direction: row;
       
    }

    .header__nav-link {
        display: block;
        text-decoration: none;
        color: #ffffff;
        margin-left: 25px;
    }

    .main {
        display: flex;
        padding: 25px 30px;
    }
    
    .main__container-titulo-parrafo {
        width: 57%;
        
    }

    .main__container-logo {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%
    }

    .main__logo {
        width: 300px;
    }

    .gallery {
        margin-top: 26px;
        box-shadow: 0px 0px 22px 0px #000;
        background-color: #126236;
        padding: 20px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    
    .gallery__img {
        width: 28%;
        margin: 10px;
        border-radius: 10px;
        border: 4px solid black
    }

    .contact-us__form {
        background-color: #126236;
        color: #ffffff;
        text-align: left;
        padding: 15px;
        border-radius: 10px;
        width: 70%;
        margin-bottom: 20px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .cards__card {
        width: 40%;
        box-shadow: 0px 0px 22px 0px #000;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        height: 150px;
        align-items: center;
        box-shadow: 0px 0px 22px 0px #000;
    }
}

@media (min-width: 1024px) {
    .main {
        padding: 60px;
    }

    .main__container-titulo-parrafo {
        font-size: x-large;
    }

    .main__logo {
        width: 380px;
        margin-right: -100px;
    }
    
    .gallery__img {
        width: 300px;
    }
    .gallery {
        justify-content: center;
    }

    .contact-us__form {
        width: 40%;
        margin-bottom: 60px;
    }

    .cards {
        margin-top: 60px;
    }

    .cards__card {
        width: 450px;
        height: 450px;
        margin: 25px 5px;
    }

    .cards__card-container-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .cards__card-container-button-last {
        margin-top: 30px;
    }

    .footer {
        height: 210px;
    }

    .footer__container-user,
    .footer__link-contact {
        margin: 0 10px;

    }

}

@media (min-width: 1410px) {
    .cards__card {
        width: 450px;
        height: 450px;
        margin: 25px 25px;
    }
}
